body{
  overflow: hidden;
}

#spinner{
  position:absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  background: white;
  justify-content: space-around;
  align-content: center;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-transition-property: top;
  transition-property: top;
  .mdl-spinner{
    margin: auto;
  }
}

.loading #spinner{
  top: 0;
}

.is-small-screen{
  #lobby .mdl-card__title{
    display: none;
  }
}

.header-hidden.connected{
  #fab{
    visibility: visible;
    z-index: 4;
  }

  #show-header-button{
    display: block;
  }

  .mdl-layout__header{
    display: none !important;
  }
}

#fab{
  display: inline-block;
  visibility: hidden;
  position: absolute;
  z-index: -9999;
}

#show-header-button{
  display: none;
}

#hide-header-button{
  display: none;
}

.connected{
  #hide-header-button{
    display: inline-block;
  }

  .for-lobby{
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .for-canvasContainer{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.for-lobby{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.for-canvasContainer{
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.flex-container{
  display: flex;
  justify-content: space-around;
  .mdl-checkbox{
    width: 5em;
  }
  .mdl-button{
    margin-top: 4px;
  }
}

.animate-container{
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

#lobby{
  display: block;
  margin: auto;
  .mdl-card__title{
    color: rgb(255,255,255);
    background-color: rgb(255,82,82);
  }
}

#canvasContainerSizeFix{
  margin: auto;
  width: 100%;
  min-height: auto;
  canvas{
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    position: absolute;
    top: 0;
    max-width: 100%;
    max-height: 100%;
  }
}

#savedBrushes{
  img{
    max-width: 2em;
    max-height: 2em;
  }
}

ul, ol{
  display: block;
  padding: 0;
  margin: 0;
}

.mdl-layout__drawer{
  width: 273px;
  -webkit-transform: translateX(-273px);
  -ms-transform: translateX(-273px);
  transform: translateX(-273px);
  padding: 8px;
}
.page-content{
  top: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.mdl-layout__content{
  position: relative;
}

#toolBox{
  ul, ol, li{
    list-style: none;
    vertical-align: middle;
    h3{
      text-align: left;
    }
    & > *{
      text-align: center;
    }
  }

  .mdl-textfield{
    width: 3em;
    float: right;
    padding: 0;
  }
  .mdl-slider__container{
    width: 80%;
    display: inline-flex;
    margin-top: 6px;
  }
  h3, h4{
    margin: 0;
    font-weight: normal;
    font-size: 75%;
    line-height: 2em;
  }
  h4{
    display: inline;
    vertical-align: middle;
  }
  #toolSlider{
    z-index: 9999;

    #activeBrushContainer{
      canvas{
        max-height: 100%;
        margin: auto;
        vertical-align: middle;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 128px;
      width: 256px;
    }

    #sliderOpener{
      position: absolute;
      width: 16px;
      height: 32px;
      top: 50%;
      margin-top: -16px;
      background: #bdc3c7;
      left: -2em;
      z-index: 9999;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:after{
        text-align: center;
        display: block;
        content: '<';
      }
    }
    #picker{
      margin-top: .25em;
      margin-bottom: .25em;
    }

    & > li{
      width: 100%;
      &:last-child{
        flex: 1;
        margin-top: .25em;
        display: flex;
        flex-wrap: wrap;
      }
    }

    .btn{
      display: inline-block;
      padding: 3px 5px;
      margin: 2px 3px;
      text-align: center;
      vertical-align: center;
      border: 1px solid;
      flex-grow: 1;
    }

    #layerListContainer{
      .mdl-checkbox{
        width: auto;
        margin-left: 5px;
        margin-top: 2px;
      }
      li{
        label{
          position: absolute;
          left: 0;
        }

        canvas{
          position: absolute;
          right: 0;
          max-height: 100%;
        }
        height: 32px;
        border-style: ridge;
        position: relative;

        &.active{
          border-style: groove;
        }
      }
      position: relative;
      background: white;
      overflow-y: scroll;
      height: 100%;
      width: 100%;
    }
  }
}
